body {
  background-color: #343539;
  font-family: 'Poppins', sans-serif;
  color: #ccc;
  
}
h1{
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;

}
h2{
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 8px #9400ff;
  letter-spacing: 1px;
}
button {
  margin: 20px;
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 15px;
  background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #39016d, #757575,  #656565);
  background-size: 200%;
  animation: animationGradient 2s linear infinite;
  box-shadow: 0 0 15px rgba(255,255,255,0.336);
}
@keyframes animationGradient
{
  to{
    background-position: 200%;
  }
}

button:hover {
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.6), 0 0 30px rgba(128, 0, 255, 0.4);
  transform: translateY(-3px);
}

button:focus {
  outline: 2px solid rgba(50, 0, 99, 0.6);
}
